mixin videoName(video22)
  div
    h4
      a(href=`/videos/${video22.id}`)=video22.title
    ul 
      li #{video22.rating}/5.
      li #{video22.comments} comments.
      li Posted #{video22.createdAt}.
      li #{video22.views} views.